<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs') %>

            <div class="container">
                <hr>

                <div class="card">
                    <div class="card-header">
                        <h2>Edição de Artigos</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/articles/update">
                            <input type="text" name="title" class="form-control"
                                placeholder="Defina o Título do Artigo" value=""><br>
                                <input type="hidden" value="" name="id">
                                <textarea name="body" class="form-control" placeholder="Escreva seu artigo aqui" id="article"></textarea><br>
                                <select name="category" class="form-control">
                                
                                </select><br>
                            <button class="btn btn-success">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>

    </body>

    <%- include('../../partials/footer.ejs') %>

    