<nav class="navbar navbar-dark navbar-expand-lg bg-primary" style="margin-bottom: 25px;">
    <a href="/" class="navbar-brand">
        Guia Press
    </a>

    <ul class="navbar-nav">

        <li class="nav-item">
            <a href="/" class="nav-link">
                Home
            </a>
        </li>

        <% categorias.forEach(categoria=> {%>
            <li class="nav-item">
                <a href="/categorias/<%= categoria.slug %>" class="nav-link">
                    <%= categoria.titulo %>
                </a>
            </li>

         <% }); %>


    </ul>

</nav>