<nav class="navbar navbar-dark bg-primary" style="margin-bottom: 25px;">
    <div class="d-flex">
        <a href="/" class="navbar-brand d-flex">
            Guia Press
        </a>

        <ul class="navbar-nav d-flex flex-row">

            <li class="nav-item">
                <a href="/" class="nav-link">
                    Home
                </a>
            </li>

            <% categorias.forEach(categoria=> {%>
                <li class="nav-item d-flex flex-row pad">
                    <a href="/categorias/<%= categoria.slug %>" class="nav-link">
                        <%= categoria.titulo %>
                    </a>
                </li>

                <% }); %>
        </ul>
    </div>

    <% if (logado !=undefined ) {%>
        <a href="/admin/usuarios" class="navbar-brand d-flex">
            Admin
        </a>
        <% } else{%>
            <a href="/admin/usuario/login" class="navbar-brand d-flex">
                Login
            </a>

            <% } %>

</nav>

<style>
    .pad {
        padding-left: 25px;
    }
</style>