<%- include("../../partials/header.ejs") %>

    <body>
        <%- include("../../partials/navbar.ejs") %>

            <div class="container">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4>O que você deseja Atualizar?</h4>
                    </div>
                    <div class="card-body">
                        <a href="/admin/usuario/atualizar/senha_" class="btn btn-dark">Senha</a>
                        <a href="/admin/usuario/atualizar/email_" class="btn btn-dark">Email</a>
                    </div>
                </div>
            </div>
    </body>

    <%- include("../../partials/footer.ejs") %> 